{% extends 'registration/base.html' %} {% block content %}
<div class="container">
  <div class="row">
      <div class="style-image" style="margin-left:10%;margin-right: 60px;">
          {% for image in images %}
          <a href="profile/{{image.id}}"><h2>{{image.user}}</h2></a> 
          <a href=""><img src="{{image.image.url}}" style="width:40%;height:40%; margin-top:20px;" alt="Image"></a>
          <a href="{% url 'comment' pk=pic.pk %}" style="color:inherit;"><i class="fa fa-comment-o fa-2x ml-4"></i></a>
          <div>{% for comment in pic.comments.all %}
            <p><strong>{{comment.user}}</strong> {{comment.comments}}</p>
    {% endfor %}
</div>

          {% endfor %}  
        </div>

        <div style="float:right;margin-top: -800px;margin-right: 90px;">
            <h3>user Stories</h3>
            {%for profile in profiles %}
            <a href="{{profile.find_profile}}">
            <img src="{{profile.profile_photo.url}}" style="height:72px;
            width: 95px;border-radius: 80px;" alt="" style="border:pink">
            <p>{{profile.last_updates | timesince}} ago</p></a>
            {% endfor %}
        </div>
  </div>
  </div>

{% endblock %}