{%extends "registration/base.html"%}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8" >
      <div class="profile" style="margin-top:30%;">
          <title>{{image_id.username}}</title>
        <img src="{{profile.profile_photo.url}}" alt="" style="height:150px;width:150px; border-radius:50%; float:left; margin-right:50px">
        <p style="font-weight:bold; font-size:35px">{{profile.user}}</p>
        <div class="">
            <button type="button" class=" btn btn-default btn-block" style="display:inline-block; width:200px; font-size:20px">EDIT PROFILE</button>

          <i class="fa fa-cog" aria-hidden="true" style="font-size:30px; margin-left:10px"></i>
        </div>
        <br>
        <p style="font-size:20px"><span><span style="font-weight:bolder"> </span>12 Posts</span> <span style="margin-left:20px"><span style="font-weight:bolder">1000 </span> Followers</span> <span style="margin-left:20px"> <span style="font-weight:bolder">4000 </span>Following</span></p>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <div class="row">
    <p class="text-center" style="font-size:20px">Posts</p>
  </div>
  {% comment %} <div class="container">
    {% for image in images %}
    <a href="{% url 'singleImage' image.id%}">
      <div class="item">
        <img src="{{image.image.url}}">
      </div>
    </a>
    {% endfor %}
</div> <!--close container--> {% endcomment %}



</div>
{% endblock %}

