{% load bootstrap3 %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles block -->
    {% block styles %} {% bootstrap_css %}
    <script src="https://use.fontawesome.com/80caa23151.js"></script>

    {% endblock %}
</head>

<body>
 <nav class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid">
   <div class="navbar-header">
          <a href="" class="navbar-brand siteIcon" style=" margin-top: -4%;">
              <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
          <a href="" class="navbar-brand siteName">
              <img src="{%static 'images/logo.png' %}" alt="Instagram Logo" class="img-responsive" style='height: 5vh; margin-top: -6%; margin-left: 30%;'>
          </a>
      </div>
      <div style="margin-left:40%; margin-top:20px;">
        <form class="form-inline my-2 my-lg-0" action="{% url 'search_users' %}">
            <input class="form-control mr-sm-2" type="search" name="username"  placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
      
      <div class="navbar-right" style="padding-right:10px;padding-top:10px;">
              <img src="{%static 'images/compass.png'%}" alt="" srcset="" style="vertical-align: middle; height: 5vh;padding: 5px 10px 0%; margin-top: 2.3%;">
          </a>
          <a href="/logout" class="userIcon">
              <img src="{%static 'images/logout.jpeg'%}" alt="" srcset=""  style="vertical-align: middle; height: 5vh;padding: 5px 10px 0%; margin-top: 2.3%;">
          </a>
          <a href="/accounts/login" class="userIcon">
              <img src="{%static 'images/login.png'%}" alt="" srcset=""  style="vertical-align: middle; height: 5vh;padding: 5px 10px 0%; margin-top: 2.3%;">
          </a>
      </div>
        </div>
    </nav>
</body>
</html>