{% extends 'registration/base.html' %} {% block content %}
<div class="container">
  <div class="row">
      <div class="style-image" style="margin-left:10%;margin-right: 60px;">
          {% for image in images %}
      
          <a href="profile/{{image.id}}"><h2>{{image.user}}</h2></a> 
          <a href=""><img src="{{image.image.url}}" style="width:40%;height:40%; margin-top:20px;" alt="Image"></a>
        
          {% endfor %}
            
        </div>

        <div style="float:right;margin-top: -800px;margin-right: 90px;">
            <h3>user Stories</h3>
          {%for profile in profiles %}
    
            <a href="{{profile.find_profile}}">
            <img src="{{profile.profile_photo.url}}" style="height:72px;
            width: 95px;border-radius: 80px;" alt="" style="border:pink">
            <p>{{profile.last_updates | timesince}} ago</p></a>
    
            {% endfor %}
        </div>
  </div>

{% comment %}   
</div>

</div>
<div class="no-touch">

    <div class="style-image">
      {% for profile in profiles %}
      <div class="container-image" style="margin-left:40%;">
                  
      </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <div>
    {% for comment in comments %}
        <p style="margin-bottom:-1px"><span style=" margin-right:10px; font-weight:bolder; font-size:16px">{{comment.user}}</span>{{comment.comment}}</p>
        {% endfor %}
        <p style="font-size:12px;color:grey; margin-top:10px">{{image.time_uploaded|timesince|upper}} AGO</p>
        <hr>
      </div>
  </div> {% endcomment %}

{% endblock %}