{% extends 'registration/base.html' %} {% block content %}
<section class="no-touch">

  <div class="style-image">
    {% for image in images %}
    <a href="{% url 'single_photo' image.id %}"></a>
    <div class="container-image" style="margin-left:40%;">
       
       <img src="{{image.image.url}}" alt="Image">
         
            <h1>  {{image.image_name}}</h1>
    </div>
    
    {% endfor %}
  </div>
</section>
<section class="no-touch">

    <div class="style-image">
      {% for profile in profiles %}
      <div class="container-image" style="margin-left:40%;">
               
            <p>{{profile.bio}}</p>     
  
      </div>
      </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}